<div class="container">
    <div class="card-group vgr-cards">
        <div class="card">
            <div class="float-left">
                <h4>Cursos</h4>
            </div>
        </div>
        <div class="card" *ngFor="let pokemon of pokemons; let id = index">
            <div class="card-img-body">
                <img class="card-img" src=`${pokemon.url}` alt="Card image cap"></div>
            <div class="card-body">
                <p>#{{ id }}</p>
                <h4 class="card-title">{{ pokemon.name }}</h4>
                <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This card has supporting text below as a natural lead-in to additional content.</p> -->
                <a href="#" class="btn btn-outline-primary">Detalhes</a>
            </div>
        </div>
    </div>
</div>
