<div class="container">
    <div class="m-4 d-flex justify-content-start">
        <button type="button" class="btn btn-primary" aria-label="Left Align"
        (click)="onClickBackPage()"
        >
            Voltar
        </button>      
    </div>
    <div class="card-group vgr-cards">
        <div *ngFor="let pokemon of detailPokemons; let id = index">
            <div class="card">
                <div class="card-img-body">
                    <img class="card-img" src="{{ pokemon.sprites.front_default }}" alt="{{ pokemon.name }}">
                </div>
                <div class="card-body">
                    <p>#{{ pokemon.id }}</p>
                    <h4 class="card-title">{{ pokemon.name }}</h4>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text">{{pokemon.types[0]["type"].name}}</p>
                    <a href="#" class="btn btn-primary">Detalhes</a>
                </div>
            </div>
        </div>
    </div>
    <div class="m-4 d-flex justify-content-start">
        <button type="button" class="btn btn-primary" aria-label="Left Align"
        (click)="onClickNextPage()">
            Seguinte
        </button>      
    </div>
</div>